<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="UniversityConnection" connectionString ="data source=.;initial catalog=University;user id = sa;password=123.com;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <modules>
      <!--<add name="Compression" type="KF.Web.Modules.CompressionModule,KF.Web"/>-->
    </modules>
    <handlers>
      <add name="imageService" path="imageService" verb="POST" type="KF.UniversityWeb.Handlers.ImageHandler,KF.UniversityWeb"/>
      <add name="ProvinceSerivce" path="provinceService" verb="POST" type="KF.UniversityWeb.Handlers.ProvinceHandler,KF.UniversityWeb"/>
      <add name="CityService" path="cityService" verb="POST" type="KF.UniversityWeb.Handlers.CityHandler,KF.UniversityWeb"/>
      <add name="UniversityService" path="universityService" verb="POST" type="KF.UniversityWeb.Handlers.UniversityHandler,KF.UniversityWeb"/>
      <add name="MajorService" path ="majorService" verb="POST" type="KF.UniversityWeb.Handlers.MajorHandler,KF.UniversityWeb"/>
    </handlers>
  </system.webServer>
</configuration>