<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="UniversityConnection" connectionString ="data source=.;initial catalog=University;user id = sa;password=123.com;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <modules>
      <!--<add name="Compression" type="KF.Web.Modules.CompressionModule,KF.Web"/>-->
    </modules>
    <handlers>
      <add name="loginService" path="loginservice" verb="POST" type="KF.Web.Handlers.LoginHandler,KF.Web" />
      <add name="imageService" path="imageService" verb="POST" type="KF.Web.Handlers.ImageHandler,KF.Web"/>
      <add name="ProvinceSerivce" path="provinceService" verb="POST" type="KF.Web.Handlers.ProvinceHandler,KF.Web"/>
      <add name="CityService" path="cityService" verb="POST" type="KF.Web.Handlers.CityHandler,KF.Web"/>
      <add name="AreaService" path="areaService" verb="POST" type="KF.Web.Handlers.AreaHandler,KF.Web"/>
      <add name="HoursePriceService" path="hoursePriceService" verb="POST" type="KF.Web.Handlers.HoursePriceHandler,KF.Web"/>
      <add name="UniversityService" path="universityService" verb="POST" type="KF.Web.Handlers.UniversityHandler,KF.Web"/>
      <add name="ScholarShipService" path="scholarShipService" verb="POST" type="KF.Web.Handlers.ScholarShipHandler,KF.Web"/>
      <add name="MajorService" path="majorService" verb="POST" type="KF.Web.Handlers.MajorHandler,KF.Web"/>
      <add name="CourseService" path="courseService" verb="POST" type="KF.Web.Handlers.CourseHandler,KF.Web"/>
      <add name="UserService" path="userService" verb="POST" type="KF.Web.Handlers.UserHandler,KF.Web"/>
      <add name="MajorCourseService" path="majorCourseService" verb="POST" type="KF.Web.Handlers.MajorCourseHandler,KF.Web"/>
      <add name="EnrollmentPlanService" path="enrollmentPlanService" verb="POST" type="KF.Web.Handlers.EnrollmentPlanHandler,KF.Web"/>
      <add name="CompanyService" path="companyService" verb="POST" type="KF.Web.Handlers.CompanyHandler,KF.Web"/>
      <add name="RecuritService" path="recuritService" verb="POST" type="KF.Web.Handlers.RecuritHandler,KF.Web"/>
    </handlers>
  </system.webServer>
</configuration>